@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", "Noto Sans SC", "PingFang SC", sans-serif;
  background-color: #f8f5f0;
}

.chat-drawer .ant-drawer-body {
  padding-bottom: 20px;
}
